[alias]
    b = branch
    m = commit
	o = checkout
    s = status
    r = rebase
    f = fetch
    a = add
    d = diff
    t = stash
	sm = submodule
    st = subtree
[color]
    ui = true
;[core]
;    pager = cat
[pager]
	stash = false
	tag = false
